body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.d-flex {
    display: flex;
}

.hero-banner {
    
    background-image: url('/images/top-banner.png');
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.hero-banner__content {
    margin: auto;
}

.hero-banner__header {
    font-weight: 600;
}

.hero-banner__content__header>span {
    font-weight: 700;
    display: block;
    color: orange;
    font-size: 30px;
}

.hero-banner__content__subtitle {
    font-size: 20px;
    font-weight: 600;
}

.hero-banner__content__description {
    font-size: 18px;
}
.hero-banner__content__link {
    color:#fff;
    text-decoration: none;
    padding: 5px 40px;
    border-radius: 5px;
    background-image: linear-gradient(to right, orange, tomato);
    font-weight: 700;
}

.hero-banner__img img {
    width: 100%;
}

.half-width {
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
}

.dream-big {
    display: flex;
    background-image: url('/images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 100px;
}